.header {
  background-color: rgb(19, 6, 136);
  align-content: flex-start;
}

.header-pic {
  display: block;
  max-width: 25%;
  height: auto;
}
.content {
  display: inline;
  align-items: center;
  background-color: paleturquoise;
  max-width: 960px;
  padding-left: 80px;
  padding-right: 30px;
}
.pro-picture {
  display: block;
  background-color: paleturquoise;
  border: 1px solid black;
  border-radius: 4px;
  width: 300px;
  height: 350px;
}
.wrapper {
  background-color: palegoldenrod;
  display: flex;
  justify-content: center;
}
