
.header {
  display: flex;

  background-color: rgb(19, 6, 136);
  width: 100%;
}

.header-pic{
  text-align: right;
}
.content{
  display: inline;
  align-items: center;
  background-color: paleturquoise;
  max-width: 960px;
  padding-left: 80px;
  padding-right: 30px;
  
}
.pro-picture{
  background-color: paleturquoise;
  align-items: left;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
}
.wrapper{
  background-color: palegoldenrod;
  display: flex;
  justify-content: center;
}